@charset "UTF-8";

#易经测字 table.易经测字 td {
    vertical-align: top;
}

#易经测字 table.易经测字.本卦 td {
    vertical-align: middle;
}

#易经测字 .体用.本卦 {
    color      : black;
    font-family: "YaHei";
    display    : inline;
    font-size  : 1em;
}

#易经测字 .上卦.象.本卦 {
    display: inline;
}

#易经测字 table.卦.象 {
    margin: 0 auto;
}

#易经测字 div.号码.Number input {
    font-size: 3em;
}

#易经测字 div.易经测字.卦.名,
#易经测字 div.易经测字.卦.简单名 {
    font-family: "YaHei";
}

#易经测字 div.易经测字.中 {
    font-family: "YaHei";
}

#易经测字 div.易经测字.卦.成语,
#易经测字 div.易经测字.卦.吉凶 {
    font-family: "YaHei";
}

#易经测字 div.label.中 {
    font-family: "YaHei";
}

#易经测字 div.易经测字 {
    display: block;
}

#易经测字 div.易经测字.卦.名.拼音,
#易经测字 div.易经测字.卦.名.英 {
    font-family: unset;
}

#易经测字 div.label {
    display: block;
}

#易经测字 table.八宅号数分析 td {
    padding: 5px;
}

#易经测字 div.易经测字.卦.名 {
    font-weight: bold;
    font-weight: 1.5em;
}

#易经测字 div.易经测字.卦.名.拼音 {
    text-transform: capitalize;
    color         : darkgray;
}

#易经测字 div.易经测字.卦.名.英 {
    font-weight: bold;
    font-size  : 0.9em;
}

#易经测字 div.易经测字.象 {
    font-size  : 5em;
    font-weight: 900;
    line-height: 0.9em;
}

#易经测字 .卦.吉凶.大吉 {
    color           : white;
    background-color: var(--大吉);
}

#易经测字 .卦.吉凶.吉 {
    color           : white;
    background-color: var(--吉);
}

#易经测字 .卦.吉凶.小吉 {
    background-color: var(--小吉);
}

#易经测字 .卦.吉凶.凶 {
    color           : white;
    background-color: var(--凶);
}

#易经测字 .卦.吉凶.大凶 {
    color           : white;
    background-color: var(--大凶);
}

.易经测字 table.天医 {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid red;
}

.易经测字 table.天医 tr,
.易经测字 table.天医 td {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid red;
}

.易经测字 table.生气 {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid red;
}

.易经测字 table.生气 tr,
.易经测字 table.生气 td {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid red;
}

.易经测字 table.延年 {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid red;
}

.易经测字 table.延年 tr,
.易经测字 table.延年 td {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid red;
}

.易经测字 table.伏位 {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid red;
}

.易经测字 table.伏位 tr,
.易经测字 table.伏位 td {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid red;
}

.易经测字 table.天医 td:first-of-type,
.易经测字 table.生气 td:first-of-type,
.易经测字 table.延年 td:first-of-type,
.易经测字 table.伏位 td:first-of-type {
    background-color: #ffc1c2;
}

.易经测字 table.绝命 {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid black;
}

.易经测字 table.绝命 tr,
.易经测字 table.绝命 td {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid black;
}

.易经测字 table.五鬼 {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid black;
}

.易经测字 table.五鬼 tr,
.易经测字 table.五鬼 td {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid black;
}

.易经测字 table.祸害 {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid black;
}

.易经测字 table.祸害 tr,
.易经测字 table.祸害 td {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid black;
}

.易经测字 table.六煞 {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid black;
}

.易经测字 table.六煞 tr,
.易经测字 table.六煞 td {
    font-family    : "YaHei";
    padding        : 5px;
    border-collapse: collapse;
    border         : 1px solid black;
}

.易经测字 table.绝命 td:first-of-type,
.易经测字 table.五鬼 td:first-of-type,
.易经测字 table.祸害 td:first-of-type,
.易经测字 table.六煞 td:first-of-type {
    color           : white;
    background-color: black;
}

.易经测字 .评分 .分数 {
    font-size: 7em;
    padding  : 10px;
}

#易经测字 .八卦.label.中,
#易经测字 .评分.label.中 {
    font-family: "YaHei";
}

#易经测字 .八卦.label,
#易经测字 .评分.label {
    color           : white;
    background-color: black;
    text-align      : center;
}

#易经测字 .易经测字.卦.吉凶.错卦,
#易经测字 .易经测字.卦.吉凶.综卦 {
    display: none;
}

#易经测字 table.易经测字 {
    /* webpackIgnore: true */
    background        : linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./images/logo-red-full-padding.svg) center no-repeat;
    background-size   : contain;
    vertical-align    : middle;
    /* padding        : 10px; */
}

#易经测字 table.易经测字 div {
    background-color: transparent;
}

#易经测字 table.八宅号数分析,
#易经测字 table.易经测字 .评分.分数 {
    /* webpackIgnore: true */
    background        : linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./images/logo-red-full-padding.svg) center no-repeat;
    background-size   : contain;
    vertical-align    : middle;
    /* padding        : 10px; */
}

#易经测字 div.能量分析.paper,
#易经测字 .page div.paper {
    /* webpackIgnore: true */
    background        : linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./images/logo-red-full-padding.svg) center no-repeat;
    background-size   : contain;
    vertical-align    : middle;
    /* padding        : 10px; */
}

#易经测字 .gua {
    /*  display: 'flex', */
    width     : 9em;
    text-align: center;
    margin    : 10px;
}

#易经测字 div.易经测字.象.木 {
    color: #55aa57;
}

#易经测字 div.易经测字.象.火 {
    color: #ec3227;
}

#易经测字 div.易经测字.象.土 {
    color: #f4c342;
}

#易经测字 div.易经测字.象.金 {
    color: var(--金);
}

#易经测字 div.易经测字.象.水 {
    color: black;
}

/* 
#易经测字 div.易经测字.象.大吉 {
    color: red;
}

#易经测字 div.易经测字.象.凶 {
    color: gray;
}

#易经测字 div.易经测字.象.大凶 {
    color: black;
}

#易经测字 div.易经测字.象.吉 {
    color: purple;
}

#易经测字 div.易经测字.象.小吉 {
    color: pink;
} */
@media print {
    .iching-cover-background {
        font-weight     : bold;
        text-align      : center;
        color           : white;
        /* webpackIgnore: true */
        background-image: url(./images/page/baziBackground.jpg);
        background-size : cover;
        margin          : 0 auto -200px;
        max-width       : 210mm;
    }

    .iching-cover-background img[alt=bagua] {
        width        : 180mm;
        margin-bottom: -20em;
        margin-top   : 2em;
    }

    #易经测字 div.易经测字.paper {
        transform  : scale(0.9);
        margin-left: -3em;
    }
}

/*# sourceMappingURL=易经测字.css.map */