#易经测字 {
    table.易经测字 {
        td {
            vertical-align: top;
        }

        &.本卦 td {
            vertical-align: middle;
        }
    }

    .体用.本卦 {
        color      : black;
        font-family: 'YaHei';
        display    : inline;
        font-size  : 1em;
    }

    .上卦.象.本卦 {
        display: inline;
    }

    table.卦.象 {
        margin: 0 auto;
    }

    div {
        &.号码.Number input {
            font-size: 3em;
        }

        &.易经测字 {
            &.卦 {

                &.名,
                &.简单名 {
                    font-family: 'YaHei';
                }
            }

            &.中 {
                font-family: 'YaHei';
            }

            &.卦 {

                &.成语,
                &.吉凶 {
                    font-family: 'YaHei';
                }
            }
        }

        &.label.中 {
            font-family: 'YaHei';
        }

        &.易经测字 {
            &.卦.名 {

                &.拼音,
                &.英 {
                    font-family: unset;
                }
            }

            display: block;
        }

        &.label {
            display: block;
        }
    }

    table.八宅号数分析 td {
        padding: 5px;
    }

    div.易经测字 {
        &.卦.名 {
            font-weight: bold;
            font-weight: 1.5em;

            &.拼音 {
                text-transform: capitalize;
                color         : darkgray;
            }

            &.英 {
                font-weight: bold;
                font-size  : .9em;
            }
        }

        &.象 {
            font-size  : 5em;
            font-weight: 900;
            line-height: .9em;
        }
    }

    .卦.吉凶 {
        &.大吉 {
            color           : white;
            background-color: var(--大吉);
        }

        &.吉 {
            color           : white;
            background-color: var(--吉);
        }

        &.小吉 {
            background-color: var(--小吉);
        }

        &.凶 {
            color           : white;
            background-color: var(--凶);
        }

        &.大凶 {
            color           : white;
            background-color: var(--大凶);
        }
    }
}

.易经测字 {
    table {
        &.天医 {
            font-family    : 'YaHei';
            padding        : 5px;
            border-collapse: collapse;
            border         : 1px solid red;

            tr,
            td {
                font-family    : 'YaHei';
                padding        : 5px;
                border-collapse: collapse;
                border         : 1px solid red;
            }
        }

        &.生气 {
            font-family    : 'YaHei';
            padding        : 5px;
            border-collapse: collapse;
            border         : 1px solid red;

            tr,
            td {
                font-family    : 'YaHei';
                padding        : 5px;
                border-collapse: collapse;
                border         : 1px solid red;
            }
        }

        &.延年 {
            font-family    : 'YaHei';
            padding        : 5px;
            border-collapse: collapse;
            border         : 1px solid red;

            tr,
            td {
                font-family    : 'YaHei';
                padding        : 5px;
                border-collapse: collapse;
                border         : 1px solid red;
            }
        }

        &.伏位 {
            font-family    : 'YaHei';
            padding        : 5px;
            border-collapse: collapse;
            border         : 1px solid red;

            tr,
            td {
                font-family    : 'YaHei';
                padding        : 5px;
                border-collapse: collapse;
                border         : 1px solid red;
            }
        }

        &.天医 td:first-of-type,
        &.生气 td:first-of-type,
        &.延年 td:first-of-type,
        &.伏位 td:first-of-type {
            background-color: rgb(255, 193, 194);
        }

        &.绝命 {
            font-family    : 'YaHei';
            padding        : 5px;
            border-collapse: collapse;
            border         : 1px solid black;

            tr,
            td {
                font-family    : 'YaHei';
                padding        : 5px;
                border-collapse: collapse;
                border         : 1px solid black;
            }
        }

        &.五鬼 {
            font-family    : 'YaHei';
            padding        : 5px;
            border-collapse: collapse;
            border         : 1px solid black;

            tr,
            td {
                font-family    : 'YaHei';
                padding        : 5px;
                border-collapse: collapse;
                border         : 1px solid black;
            }
        }

        &.祸害 {
            font-family    : 'YaHei';
            padding        : 5px;
            border-collapse: collapse;
            border         : 1px solid black;

            tr,
            td {
                font-family    : 'YaHei';
                padding        : 5px;
                border-collapse: collapse;
                border         : 1px solid black;
            }
        }

        &.六煞 {
            font-family    : 'YaHei';
            padding        : 5px;
            border-collapse: collapse;
            border         : 1px solid black;

            tr,
            td {
                font-family    : 'YaHei';
                padding        : 5px;
                border-collapse: collapse;
                border         : 1px solid black;
            }
        }

        &.绝命 td:first-of-type,
        &.五鬼 td:first-of-type,
        &.祸害 td:first-of-type,
        &.六煞 td:first-of-type {
            color           : white;
            background-color: black;
        }
    }

    .评分 .分数 {
        font-size: 7em;
        padding  : 10px;
    }
}

#易经测字 {

    .八卦.label.中,
    .评分.label.中 {
        font-family: 'YaHei';
    }

    .八卦.label,
    .评分.label {
        color           : white;
        background-color: black;
        text-align      : center;
    }

    .易经测字.卦.吉凶 {

        &.错卦,
        &.综卦 {
            display: none;
        }
    }

    table {
        &.易经测字 {
            div {
                background-color: transparent;
            }

            background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
            /* webpackIgnore: true */
            url(./images/logo-red-full-padding.svg) center no-repeat;
            background-size: contain;
            vertical-align : middle;

            /* padding        : 10px; */
        }

        &.八宅号数分析,
        &.易经测字 .评分.分数 {
            /* webpackIgnore: true */
            background     : linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./images/logo-red-full-padding.svg) center no-repeat;
            background-size: contain;
            vertical-align : middle;

            /* padding        : 10px; */
        }
    }

    div.能量分析.paper,
    .page div.paper {
        /* webpackIgnore: true */
        background     : linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./images/logo-red-full-padding.svg) center no-repeat;
        background-size: contain;
        vertical-align : middle;

        /* padding        : 10px; */
    }

    .gua {
        /*  display: 'flex', */
        width     : 9em;
        text-align: center;
        margin    : 10px;
    }

    div.易经测字.象 {
        &.木 {
            color: rgb(85, 170, 87);
        }

        &.火 {
            color: rgb(236, 50, 39);
        }

        &.土 {
            color: rgb(244, 195, 66);
        }

        &.金 {
            color: var(--金);
        }

        &.水 {
            color: black;
        }
    }
}

/* 
#易经测字 div.易经测字.象.大吉 {
    color: red;
}

#易经测字 div.易经测字.象.凶 {
    color: gray;
}

#易经测字 div.易经测字.象.大凶 {
    color: black;
}

#易经测字 div.易经测字.象.吉 {
    color: purple;
}

#易经测字 div.易经测字.象.小吉 {
    color: pink;
} */

@media print {
    .iching-cover-background {
        font-weight     : bold;
        text-align      : center;
        color           : white;
    /* webpackIgnore: true */  background-image: url(./images/page/baziBackground.jpg);
        background-size : cover;
        margin          : 0 auto -200px;
        max-width       : 210mm;

        img[alt="bagua"] {
            width        : 180mm;
            margin-bottom: -20em;
            margin-top   : 2em;
        }
    }

    #易经测字 div.易经测字.paper {
        transform  : scale(0.9);
        margin-left: -3em;
    }
}