@font-face {
    font-family     : "fontello";
    /* webpackIgnore: true */
    src             : url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype");
}

/*icon override all*/
/*.km-icon:after,
.km-icon:before {
	font: 1em/1em "fontello";
}*/
/*.km-六爻:after,
.km-六爻:before {
	font: 1em/1em "fontello";
	content: "\E802";
}

.km-罗盘:after,
.km-罗盘:before {
	font: 1em/1em "fontello";
	content: "\E804";
}

.km-六爻记录:after,
.km-六爻记录:before {
	font: 1em/1em "fontello";
	content: "\F1DA";
}

.km-奇门遁甲:after,
.km-奇门遁甲:before {
	font: 1em/1em "fontello";
	content: "\E803";
}

.km-万年历:after,
.km-万年历:before {
	font: 1em/1em "fontello";
	content: "\E800";
}

.km-import:after,
.km-import:before {
	font: 1em/1em "fontello";
	content: "\E808";
}

.km-export:after,
.km-export:before {
	font: 1em/1em "fontello";
	content: "\E807";
}

.km-history-list:after,
.km-history-list:before {
	font: 1em/1em "fontello";
	content: "\E809";
}

.km-history-save:after,
.km-history-save:before {
	font: 1em/1em "fontello";
	content: "\E805";
}

.km-history-new:after,
.km-history-new:before {
	font: 1em/1em "fontello";
	content: "\E806";
}

.km-history-clear:after,
.km-history-clear:before {
	font: 1em/1em "fontello";
	content: "\F083";
}

.km-unpin:after,
.km-unpin:before {
	font: 1em/1em "fontello";
	content: "\F276";
}

.km-pin:after,
.km-pin:before {
    font: 1em/1em "fontello";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "\F276";
}

.km-book:after,
.km-book:before {
	font: 1em/1em "fontello";
	content: "\E80A";
}

.km-八字:after,
.km-八字:before {
	font: 1em/1em "fontello";
	content: "\F1FD";
}*/

.dwxxqs {
    width      : 99%;
    white-space: nowrap;
}

.seyin {
    width      : 1em;
    white-space: nowrap;
}

.seyinh {
    background-color: linen;
}

.爻支 {
    background-color: linen;
}

.qing {
    width      : 1em;
    white-space: nowrap;
}

.animal {
    width      : 2em;
    white-space: nowrap;
}

.cell {
    border         : 1px solid black;
    border-collapse: collapse;
    /*height       : 20px;*/
    /*width        : 1%;*/
}

.ycell {
    border         : 1px solid black;
    border-collapse: collapse;
    /*height       : 2em;*/
    width          : 1%;
}

.bcell {
    border         : 1px solid black;
    border-collapse: collapse;
    width          : 1%;
    white-space    : nowrap;
}

/*.bcell {
	border: 1px solid black;
	border-collapse: collapse;
	//height: 20px;
	width: 350px;
}

*/

.qcell {
    border         : 1px solid black;
    border-collapse: collapse;
    /*height       : 20px;*/
    width          : 250px;
}

.yaozhi,
.fushen {
    background-color: linen;
}

.yao {
    background-color: aliceblue;
    width           : 15px;
}

.jiazhi {
    width: auto;
}

.dong {
    font-weight: 900;
}

.ask {
    font-size: 1.5em;
}

.answer {
    font-size: 1.5em;
}

.fcell {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    /*height       : 20px;*/
    width          : 350px;
}

.block label {
    display   : inline-block;
    /*width   : 140px;*/
    text-align: left;
}

/*.k-tooltip-content {
	text-align: left;
}

.km-filter-wrap > input {
	background-color: white;
}

.km-nova .km-list > li {
	padding: .5em .7em;
}

.km-nova .km-collapsible-header {
	height: inherit;
	line-height: inherit;
	border-width: 0;
}*/

li td,
li tr {
    border-bottom: 1px solid #ddd;
}

/*.k-tooltip-content td, .k-tooltip-content tr {
	border-bottom: 1px solid #ddd;
}

.collapsible-content {
	height: auto;
}

.k-autocomplete {
	width: 100%;
}

.km-widget .km-filter-wrap:before {
	z-index: 999;
}

.km-collapsible-content div {
	padding: 0 0 0 2em;
}


.k-autocomplete .k-input, .k-textbox > input {
	display: inline;
}

.k-clear-value {
	position: absolute;
	left: 85%;
	top: 30%;
}*/



.root124 {
    display  : flex;
    flex-wrap: wrap;
}

.margin124 {
    margin: 8,
}

.withoutLabel124 {
    margin-top: 24,
}

.textField124 {
    flex-basis: 100;
    width     : 50;
    display   : flex;
}

.cssLabel124 {
    /* //color: 'green' */
}

.cssFocused124 {}

.cssOutlinedInput124 {
    width                            : 60;
    /* '&$cssFocused $notchedOutline': {
            borderColor              : `${theme.palette.primary.main}`, // !important`,
        }, */
    /* //padding                     : "10px",
        //paddingRight: 20, */
}

.notchedOutline124 {
    border-width                     : 1px;
    border-color                     : green;
    /*  !important' */
}

/* .container124 {
    display  : flex;
    flex-wrap: wrap;
} */

/* .appbar123 {
    visibility: none;
} */