@charset "UTF-8";
@import url("core.css");

#万年历 table.日历 div.公历.日 {
  font-size  : 5em;
  width      : 1.5em;
  text-align : center;
  font-weight: bolder;
}

#万年历 .八字 {
  font-size: 1.2em;
}

#万年历 .八字 .header {
  font-size: 1em;
}

#万年历 table.日历.神煞 {
  border         : 1px solid darkgray;
  border-collapse: collapse;
  text-align     : center;
}

#万年历 table.日历.神煞 tr,
#万年历 table.日历.神煞 td {
  border            : 1px solid darkgray;
  border-collapse   : collapse;
  text-align        : center;
  /* width          : 100%; */
}

#万年历 table.日历.三胜宫 td {
  width         : 1em;
  vertical-align: top;
}

#万年历 table.header.年月 {
  width      : 100%;
  font-size  : 2em;
  font-weight: bold;
  text-align : center;
}

#万年历 table.header.年月 td {
  width: 50%;
}

#万年历 table.header.年月 td div {
  display: inline-block;
}

#万年历 table.header.年月 td>div {
  width: 100%;
}

#万年历 table.月历 table.日历 div {
  display: inline-block;
}

#万年历 td.三胜宫.六十四卦.象 {
  /* font-size     : .7em; */
  line-height      : 1em;
  /* padding-top   : 7px; */
  /* padding-bottom: 7px; */
}

#万年历 td.日历.三胜宫.六十四卦.名 {
  width         : 6em;
  line-height   : unset;
  font-size     : 0.5em;
  padding-top   : 5px;
  padding-bottom: 5px;
}

#万年历 td.日历.三胜宫.方位>div:nth-of-type(2) {
  font-size: 70%;
}

#万年历 td.三胜宫.header {
  border             : 1px solid darkgray;
  border-collapse    : collapse;
  text-align         : center;
  /* background-color: lightgray; */
}

#万年历 td.三胜宫.header.喜气 {
  color           : white;
  background-color: red;
}

#万年历 td.三胜宫.header.生门 {
  background-color: lightblue;
}

#万年历 td.三胜宫.header.值符 {
  background-color: #caf5ca;
}

#万年历 td.三胜宫.header.九天 {
  background-color: #f7d4d9;
}

#万年历 td.三胜宫.方位 {
  border         : 1px solid darkgray;
  border-collapse: collapse;
  text-align     : center;
}

#万年历 table.日历 span.天干.中文,
#万年历 table.日历 span.地支.中文 {
  text-align: left;
  display   : block;
}

#万年历 span.天干.中文,
#万年历 span.地支.中文 {
  text-align: center;
  display   : block;
}

#万年历 span.天干.拼音,
#万年历 span.地支.英文 {
  font-size : 60%;
  text-align: center;
  position  : relative;
  top       : -0.7em;
}

#万年历 table.万年历.月历 td div.日历.paper {
  height     : 15em;
  font-weight: bolder;
}

#万年历 table.月历 td:first-of-type {
  vertical-align: top;
}

#万年历 table.月历>td>div:first-of-type {
  height: 100%;
}

#万年历 table.年月 table.万年历 span.天干.拼音,
#万年历 table.年月 table.万年历 span.地支.英文 {
  font-size : 60%;
  text-align: center;
  position  : relative;
  top       : 0.1em;
  display   : block;
}

#万年历 table.年月 td {
  margin: 2px;
  height: 100%;
  width : 4em;
}

#万年历 td.button.previous.next {
  vertical-align: bottom;
  width         : 30em;
}

#万年历 table.三胜宫.年,
#万年历 table.三胜宫.月 {
  vertical-align: bottom;
  width         : 15em;
}

#万年历 .button.export {
  vertical-align: bottom;
  width         : 10em;
}

#万年历 table.年月.干支 td div {
  margin    : 2px;
  height    : 100%;
  width     : 4em;
  text-align: center;
}

#万年历 table.月历 td.header,
#万年历 table.年月 td.header {
  text-align : center;
  font-weight: bold;
}

#万年历 table.月历 td.header.星期 {
  font-size: 1.3em;
}

#万年历 .星期日 {
  color: red;
}

#万年历 .十二值神.成,
#万年历 .十二值神.建,
#万年历 .十二值神.开,
#万年历 .十二值神.执 {
  color: var(--大吉);
}

#万年历 table.日历.语录 {
  /* position  : relative; */
  /* top       : 20%; */
}

#万年历 div.日历.语录.paper {
  background: linear-gradient(to bottom, #ee4099, #f5f190, green);
}

#万年历 div.日历.语录.paper table {
  width: 100%;
}

#万年历 div.日历.语录.paper table td {
  width     : 100%;
  text-align: center;
}

/* 
#万年历 table.三胜宫,
#万年历 table.三胜宫 td
#万年历 table.日历.三胜宫 tr, */
/* #万年历 td.日历.神煞,
#万年历 td.三胜宫 {
    border         : 1px solid darkgray;
    border-collapse: collapse;
    text-align     : center;
} */
/* #万年历 table.月历,
#万年历 table.月历 td.月,
#万年历 table.月历 td.年 {
    border: 1px solid gray;
    margin: 5px;
} */
/* #万年历 table.年月.干支 td.月,
#万年历 table.年月.干支 td.年 {
    margin: 2px;
    height: 100%;
    width : 4em;
} */
/* #万年历 table.年月 {
    width: 800px
} */
/* #万年历 table.年月 tr,
#万年历 table.年月 tr div,
#万年历 table.月历 tr,
#万年历 table.月历 tr div {
    height: 100%;
    margin: 2px;
} */
/*# sourceMappingURL=calendar.css.map */