@import 'paper';

@font-face {
    font-family     : 'KaiTi';
    /* webpackIgnore: true */
    src             : url(./font/JKT.woff2);
}

/* 
@font-face {
    font-family: 'KaiTi';
    src        : url(/font/Microsoft-YaHei-Bold-Font.ttf');
} */

/* put in page */
// .center {
//     margin : 0 auto;
//     width  : fit-content;
//     padding: 10px;
// }

// .width100 {
//     width: 210mm;
// }

ul {
    /* list-style       : none; */
    /* width         : 300px; */
    /* text-indent   : -24px;
  margin-left      : 24px; */
}

li {
    /* line-height    : 2em; */
    list-style-type: disc;

    /* text-indent : -20px;
  margin-left    : 20px; */

    &.star {
        list-style-type: '✧';
    }
}

body.print * {
    transition: none !important;
}

:root {
    --background: white;
    --outter    : #514426;
    --内盘        : #62563a;
    --外盘        : #a79567;
    --内盘宫       : #FEFACB99;
    --外盘宫       : #ffffff77;
    --内盘字       : #dfc8ba;
    --金bg       : #f5efedce;
    --木bg       : #A5D6A788;
    --水bg       : #BCAAA488;
    --火bg       : #EF9A9A88;
    --土bg       : #fff16e88;
    --木         : #0C6F10;
    --火         : #F52C37;
    --土         : #9b870c;
    --金         : #5E6D76;
    --水         : #2113D6;
    --时         : #4CAF50;
    --日         : #4CAF50;
    --阴         : #ab0f0f;
    --line      : #514426;
    --lineWidth : 4px;
    --字         : #2e2d2c;
    --空         : #dfc8ba;

    /* --凶  : black; */
    --平  : green;
    --吉bg: rgb(255, 204, 204);
    --凶bg: rgb(187, 187, 187);
    --大吉 : red;
    --吉  : purple;

    /* red */
    --小吉: green;
    --凶 : gray;
    --大凶: black;
}

.木 {
    color: var(--木);
}

.火 {
    color: var(--火);
}

.土 {
    color: var(--土);
}

.金 {
    color: var(--金);
}

.水 {
    color: var(--水);
}

.MuiSelect-select.MuiSelect-select {
    padding: 0px 22px 0 0px;
}

.btn.tgme_widget_login_button {
    font-size    : unset;
    padding      : unset;
    border-radius: 4px;
    width        : 16em;
    margin       : 0 0 13px 0;
    text-align   : left;
    box-shadow   : 0px 3px 1px -2px rgba(0, 0, 0, 20%), 0px 2px 2px 0px rgba(0, 0, 0, 14%), 0px 1px 5px 0px rgba(0, 0, 0, 12%);
}

.tgme_widget_login_button_icon {
    margin: 0 7px -2px -7px;
}

.tgme_widget_login_user_photo {
    display: none;
}

.telegram {
    &.login.button {
        text-align: center;
    }

    &.link.button {
        width          : 15em;
        display        : block;
        margin         : 0 0 20px 0;
        justify-content: flex-start;
        border-radius  : 4px;
        box-shadow     : 0px 3px 1px -2px rgba(0, 0, 0, 20%), 0px 2px 2px 0px rgba(0, 0, 0, 14%), 0px 1px 5px 0px rgba(0, 0, 0, 12%);

        #telegram-login-SupremeDivinityBot {
            height: 32px !important;
        }
    }
}

span.userinfo.links {
    display: block;
    padding: 0 0 0 10px;

    &.text {
        display : inline;
        position: absolute;
        padding : 1px 0 0 7px;
    }
}

span.userinfo.links {
    display: block;
    padding: 0 0 0 10px;
}

span.userinfo.links.text {
    display : inline;
    position: absolute;
    padding : 1px 0 0 7px;
}

.delete.account.icon {
    width : 1em;
    fill  : red;
    cursor: pointer;
    margin: 0 5px 3px 0;
}

a {
    &:link {
        text-decoration: none;
        font-weight    : bold;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:active {
        text-decoration: underline;
    }
}

dialog.mdl-dialog.firebaseui-dialog.firebaseui-id-dialog {
    height: fit-content !important;
}

// .男icon,
// .女icon {
//     height: 1.2em;
// }

// button.性.键 {
//     width : 5em;
//     margin: 1.6em 0 0 0;
// }

div {
    // &.性.键.字 .英 {
    //     font-size: 60%;
    // }

    &.文件.dialog {
        padding: 10px;
    }
}

.中 {
    font-size: 100%;
}

/* .watermark {
    height             : 200px;
    width              : 200px;
    background-image   : url(path/to/image/to/be/watermarked.png);
    background-position: 0 0;
    background-repeat  : no-repeat;
    position           : relative;
} */

.paper {
    @extend %paper;
}