.measureText {
    margin     : 0;
    padding    : 0;
    border     : 0;
    font-family: Arial;
    position   : fixed;
    visibility : hidden;
    height     : auto;
    width      : auto;
    white-space: pre-wrap;
    line-height: 100%;
}