%paper {
    border            : solid 1px #555;
    box-shadow        : 5px 5px 5px rgba(0, 0, 0, 60%);
    -moz-box-shadow   : 5px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 60%);
    -o-box-shadow     : 5px 5px 5px rgba(0, 0, 0, 0.6);
    border-radius     : 10px;
    padding           : 12px;
}