div.奇门遁甲宫.奇门遁甲盘宫.宫 {

    &.巽宫,
    &.震宫 {
        background-color: #d0fad1;
    }

    &.中宫,
    &.艮宫,
    &.坤宫 {
        background-color: #faf09a;
    }

    &.乾宫,
    &.兑宫 {
        background-color: #F5EFEC;
    }

    &.离宫 {
        background-color: #ffbebe;
    }

    &.坎宫 {
        background-color: #BCAAA4;
    }
}