/* div.奇门遁甲宫 td.奇门遁甲盘宫.中宫 {
    background-image   : url(../images/logo288transparent.png');
    background-position: center;
    vertical-align     : middle;
    background-repeat  : no-repeat;
    background-size    : 15em 15em;
} */