table.择日 {
    td div {
        display: inline-block;
    }

    border         : 1px solid lightgray;
    border-collapse: collapse;
    text-align     : center;

    tr,
    td,
    th {
        border         : 1px solid lightgray;
        border-collapse: collapse;
        text-align     : center;
    }

    th.second.row.header {
        top: 57px;
    }

    div.择日.header {
        font-weight: bold;
    }
}

.阴 {
    color: var(--阴);
}



.Grid {
    border: 1px solid #d9dddd;
}

.GridItemEven,
.GridItemOdd {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.GridItemOdd {
    background-color: #fff;
}

.GridItemEven {
    background-color: #f8f8f0;
}