table.年命 {
    width          : 23em;
    border-collapse: collapse
}

.年命 {
    div {
        display: inline-block;
    }

    &.现元 {
        text-align: center;
        border    : 1px solid #EEEEEE;
        color     : #000;
        padding   : 5px;
    }

    &.上元,
    &.下元 {
        text-align: center;
        border    : 1px solid #EEEEEE;
        color     : #888888;
        padding   : 5px;
    }
}

th.年命.天干地支,
td.年命.天干地支 {
    border     : 1px solid #EEEEEE;
    background : #EEEEEE;
    padding    : 5px;
    font-weight: bold;
    width      : 6em;
}